<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
</head>
<body>
    {{{ body }}}
</body>
</html>


{{!-- this layout.hbs will contain the HTML that is shared between al of the other files  --}}
{{!-- that is it contains the common HTML fo all the pages --}}



